<%= simple_form_for(@adword_auth) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :initiative %>
    <%= f.input :access_token %>
    <%= f.input :refresh_token %>
    <%= f.input :issued_at %>
    <%= f.input :expires_in %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
