<div class="row">
	<div class="col-md-12">
		<h1><%= @initiative.title %>
      <%= link_to facebook_url(@initiative), target: "_blank" do %>
        <i class="icon-facebook-sign"></i>
      <% end %>
      <%= link_to tweet_url(@initiative), target: "_blank" do %>
        <i class="icon-twitter-sign"></i>
      <% end %>
    </h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    <% if @initiative.signs_active %>
  		<div id="signButton" class="well clearfix actionBox">
  			<a href="#signInitiative" class="pull-right btn btn-info">Firma</a>
  			<i class="pull-left icon-pencil"></i>
  			<p>Contigo podemos ser <strong><%= @initiative.signs_count + 1 %></strong> adherentes</p>
  		</div>
    <% end %>
    <% if @initiative.donations_active %>
  		<div id="donateButton" class="well clearfix actionBox">
  			<a href="#" class="pull-right btn btn-warning">Dona</a>
  			<i class="pull-left icon-bullhorn"></i>
  			<p>Con tu ayuda podríamos llegar a <%= @initiative.signs_count + 2000 %> personas</p>
  		</div>
    <% end %>
		<div class="textBox">
			<%= @initiative.description.html_safe %>
		</div>
		<div class="well statistics">
			<h6><i class="icon-bar-chart"></i>Estadísticas de esta iniciativa</h6>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><i class="icon-pencil"></i><strong><%= @initiative.signs_count || 0 %></strong> firmas</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><i class="icon-money"></i><strong><%= @initiative.donations_count || 0 %></strong> donaciones</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><i class="icon-eye-open"></i><strong>2000</strong> visitas</div>
			</div>
		</div>
		<% if @initiative.signs_active %>
			<div id="signInitiative" class="well">
				<h6><i class="icon-pencil"></i>Únete a esta iniciativa</h6>
				<hr>
				<form role="form">
					<div class="form-group">
						<label for="signNames">Nombres</label>
						<input type="email" class="form-control" id="signNames" placeholder="pon tus nombres">
					</div>
					<div class="form-group">
						<label for="signSurnames">Apellidos</label>
						<input type="email" class="form-control" id="signSurnames" placeholder="pon tus apellidos email">
					</div>
					<div class="form-group">
						<label for="signDni">Rut</label>
						<input type="email" class="form-control" id="signDni" placeholder="número de identificación">
					</div>
					<div class="form-group">
						<label for="signEmail">Correo</label>
						<input type="email" class="form-control" id="signEmail" placeholder="ingresa tu correo electrónico">
					</div>
					<button type="button" class="btn btn-info btn-lg btn-block">Firmar</button>
				</form>
			</div>
		<% end %>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="well">
			<h6>#<%= @initiative.hashtag %></h6>
		</div>
		<div class="textBox">
			<h6><i class="icon-external-link-sign"></i>Iniciativas relacionadas</h6>
			<div class="list-group">
        <% @initiatives.each do |i| %>
          <%= link_to i.title, ong_initiative_path(ong, i), class: "list-group-item" %>
        <% end %>
			</div>
		</div>
	</div>

</div>