<% if flash[:auth_adwords] %>


  <%= modal_window id: 'donations-activation-adwords-paso-2' do %>

    <div class="modal-header donateHeader">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h5 class="modal-title donateTitle"><i class="icon-bullhorn"></i> Activar Donaciones</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
          <div class="ajax-donations-container" load-parameter="<%="../adword_auths/select_accounts?initiative_id=#{@initiative.id} #select_accounts_container"%>">

          </div>
        </div>
      </div>  
    </div>                         
    <div class="modal-footer">
      <button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
      <button type="button" id="next-to-campaigns" class="btn btn-info">Siguiente</button>
      
     
      
    </div>                 
  <% end %>
  <script type="text/javascript">

    var adwords_step=2;
  </script>

  <%= modal_window id: 'donations-activation-adwords-paso-3' do %>

    <div class="modal-header donateHeader">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h5 class="modal-title donateTitle"><i class="icon-bullhorn"></i> Activar Donaciones</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          


          <div class="ajax-donations-container-no-load">

          </div>
        </div>
      </div>  
    </div>                         
    <div class="modal-footer">
      <button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
      <button type="button" id="next-to-the-end" class="btn btn-info">Finalizar</button>
      
     
      
    </div>                 
  <% end %>

<% end %>
<%= modal_window id: 'donations-deactivation-confirmation', data: { backdrop: 'static'} do %>
  <div class="modal-header donateHeader">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5 class="modal-title donateTitle"><i class="icon-bullhorn"></i> Activar Donaciones</h5>
  </div>
  <div class="modal-body">
  ¿Estás seguro que quieres desactivar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
    <%= link_to "Confirmar", toggle_donations_active_ong_initiative_path(ong, @initiative), class: "btn btn-info confirm" %>
  </div>
<% end %>

<%= modal_window id: 'donations-activation-confirmation', data: { backdrop: 'static'} do %>

  <div class="modal-header donateHeader">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5 class="modal-title donateTitle"><i class="icon-bullhorn"></i> Activar Donaciones</h5>
  </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <% if !@initiative.has_paypal_app? %>
              <p>Antes de poder manajer tus donaciones, es necesario que nos proveas autorización para consultar la cuenta de Paypal de tu organización. Si estás de acuerdo, haz clic <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_login-api-run" target="_blank"> acá</a>, ingresa tus credenciales de paypal y luego copia y pega "Nombre de usuario de API", "Contraseña de API" y "Firma" en el formulario de abajo. </p>
              <p>Si no tienes cuenta de PayPal, primero debes crear una. Te recomendamos que asocies la misma tarjeta de crédito a tu cuenta PayPal y a tu cuenta de Adwords, ya que una vez que recibas donaciones, los pagos de adwords deben ser cargados a una tarjeta de crédito.</p>

              <p> La cuenta PayPal elegida se asociará a todas tus iniciativas. Solo se permite una cuenta de PayPal por organización</p>
              <div class="ajax-donations-container" load-parameter="../paypal_apps/new #new_paypal_app">
                
                
               

              </div>
            <%else %>

              <p>¿Están correctos estos datos?</p> 
              <p>Si necesitas cambiar de cuenta de PayPal, puedes obtener nuevos datos haciendo clic  <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_login-api-run" target="_blank"> acá</a>.

              <div class="ajax-donations-container" load-parameter="../paypal_apps/<%= @initiative.get_paypal_id%>/edit?initiative_id=<%= @initiative.id%> #edit_paypal_app_<%= @initiative.get_paypal_id%>">
                
                
               

              </div>           


            <% end %>
            </div>
          </div>
      </div>                           
  <div class="modal-footer">
    <button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
    <button type="button" id="paypal-next" class="btn btn-info">Siguiente</button>
    
  </div>                 
<% end %>

<%= modal_window id: 'donations-activation-adwords-confirmation', data: { backdrop: 'static'} do %>

  <div class="modal-header donateHeader">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5 class="modal-title donateTitle"><i class="icon-bullhorn"></i> Activar Donaciones</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        Ahora necesitamos que nos autorices para obtener información de tu cuenta de adwords para  incrementar el presupuesto diario de la campaña asociada a la inciativa, dependiendo de las donaciones que vayas recibiendo.
      </div>
    </div>
  </div>                           
  <div class="modal-footer">
    <button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
    <%= link_to "Autorizar", @login_url.to_s , class: "btn btn-info confirm" %>
    
   
    
  </div>                 
<% end %>

<%= modal_window id: 'signs-activation-confirmation' do %>
  <div class="modal-header signHeader">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h5 class="modal-title signTitle"><i class="icon-pencil"></i>Activar Firmas</h5>
  </div>
  <div class="modal-body">
    <p>Se creará un botón "Firmar" en tu iniciativa, instando a los visitantes a que se adhieran a ella con el formulario que aparecerá en la parte inferior.</p>
    <p>Una vez que tengas adherentes podrás ver y descargar la lista de datos de los mismos.</p>
  </div>
  <div class="modal-footer">
		<button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
    <%= link_to "Confirmar", toggle_signs_active_ong_initiative_path(ong, @initiative), class: "btn btn-info confirm" %>
	</div>
<% end %>

<%= modal_window id: 'signs-deactivation-confirmation' do %>
  <div class="modal-header signHeader">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h5 class="modal-title signTitle"><i class="icon-pencil"></i>Desactivar Firmas</h5>
  </div>
  <div class="modal-body">
    <p>Los potenciales adherentes ya no podrán demostrar su interés por tu iniciativa.</p>
  </div>
  <div class="modal-footer">
		<button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
    <%= link_to "Confirmar", toggle_signs_active_ong_initiative_path(ong, @initiative), class: "btn btn-info confirm" %>
	</div>
<% end %>

<%= modal_window id: 'spam-activation-confirmation' do %>
  <div class="modal-header spamHeader">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h5 class="modal-title spamTitle"><i class="icon-envelope"></i>Activar Comunicación con Legisladores</h5>
  </div>
  <%= simple_form_for @initiative, url: toggle_spam_active_ong_initiative_path(ong, @initiative), method: :patch, id: 'spam_activation_form' do |f| %>
    <div class="modal-body">
      <p>Invita a tus adherentes a comunicarse con sus legisladores. Para ello, especifica quiénes son los legisladores pertientes según el estado de tu iniciativa:</p>
      <div class="row">
  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.label 'Legisladores pertinentes' %>
  			</div>
  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.input :spam_active, as: :hidden, input_html: { value: true } %>
  				<div class="btn-group" data-toggle="buttons">
            <%= f.label :spam_receiver_selected, class: "btn btn-sm btn-success#{@initiative.spam_receiver_selected == :commission ? " active" : ""}" do %>
              <%= f.radio_button(:spam_receiver_selected, :commission) + "Comisión" %>
            <% end %>
            <%= f.label :spam_receiver_selected, class: "btn btn-sm btn-success#{@initiative.spam_receiver_selected == :deputies ? " active" : ""}" do %>
              <%= f.radio_button(:spam_receiver_selected, :deputies) + "Cámara" %>
            <% end %>
            <%= f.label :spam_receiver_selected, class: "btn btn-sm btn-success#{@initiative.spam_receiver_selected == :senate ? " active" : ""}" do %>
              <%= f.radio_button(:spam_receiver_selected, :senate) + "Senado" %>
            <% end %>
  				</div>
  			</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="select-commission">
            <%= f.input :spam_param, collection: Commission.all, prompt: 'Selecciona la comisión…', label: '¿Cuál Comisión?' %>
          </div>
        </div>
  		</div>
    </div>
    <div class="modal-footer">
  		<button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
      <%= f.button :submit, "Confirmar", class: "btn btn-success confirm" %>
  	</div>
  <% end %>
<% end %>

<%= modal_window id: 'spam-deactivation-confirmation' do %>
  <div class="modal-header spamHeader">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h5 class="modal-title spamTitle"><i class="icon-envelope"></i>Desactivar Comunicación con Legisladores</h5>
  </div>
  <div class="modal-body">
    <p>Actualmente tienes configurado la comunicación con <strong><%= human_initiative_spam_receiver(@initiative) %></strong>.</p>
    <p>Tus adherentes no serán instados a comunicarse con sus legisladores.</p>
  </div>
  <div class="modal-footer">
		<button type="button" class="btn btn-link cancel" data-dismiss="modal">Cancelar</button>
    <%= link_to "Confirmar", toggle_spam_active_ong_initiative_path(ong, @initiative), class: "btn btn-success confirm" %>
	</div>
<% end %>


<div class="row">
	<div class="col-md-12">
    <% if permitted_to? :update, :initiatives %>
      <div class="well editInitiative">
  			<p>
          <%= link_to("Editar iniciativa", edit_ong_initiative_path(ong, @initiative), class: "btn btn-xs btn-default pull-right") %><strong>Administrar</strong></p>
  			<hr />
  			<div class="row">
          <%= render 'active_inactive', icon_class: 'pencil', title: 'Firmas', object: @initiative, attribute: :signs_active, options: { event_name: 'form:signs-active' } %>
          <%= render 'active_inactive', icon_class: 'money', title: 'Donaciones', object: @initiative, attribute: :donations_active, options: {event_name: 'form:donations-active'} %>
          <%= render 'active_inactive', icon_class: 'group', title: 'Manifestación', object: @initiative, attribute: :protest_active, options: {} %>
          <%= render 'active_inactive', icon_class: 'comments', title: 'Comunicación', object: @initiative, attribute: :spam_active, options: { event_name: 'form:spam-active' } %>
  			</div>
  		</div>
    <% end %>
    
		<h1><%= @initiative.title %>
      <span class="social-share">
        <%= link_to facebook_url(@initiative), target: "_blank", data: { "facebook-sharer" => true } do %>
          <i class="icon-facebook-sign"></i>
        <% end %>
        <%= link_to tweet_url(@initiative), target: "_blank", data: { "twitter-sharer" => true } do %>
          <i class="icon-twitter-sign"></i>
        <% end %>
      </span>
    </h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    
		<div id="iniciative-description" class="textBox">
      <%= image_tag @initiative.image.url(:medium), alt: "Imagen iniciativa", class: 'thumbnail pull-left' if @initiative.image.exists? %>
			<%= @initiative.description.html_safe %>
		</div>
    <% unless permitted_to? :manage, :initiatives %>
      <% if @initiative.signs_active %>
    		<div id="signButton" class="well clearfix actionBox">
    			<a id="goto-sign-button" href="#signInitiative" class="pull-right btn btn-info">Firma</a>
    			<i class="pull-left icon-pencil"></i>
    			<p>Contigo podemos ser <strong data-signs-count="1"><%= @initiative.signs_count + 1 %></strong> adherentes</p>
    		</div>
      <% end %>
      <% if @initiative.donations_active %>
    		<div id="donateButton" class="well clearfix actionBox">
    			<span href="#" class="pull-right"><%= donation_button %></span>
    			<i class="pull-left icon-bullhorn"></i>
    			<p>Con tu ayuda podríamos llegar a más personas</p>
    		</div>
      <% end %>
      <% if @initiative.spam_active %>
        <div id="spamButton" class="well clearfix actionBox">
      		<a href="#" class="pull-right btn btn-success">Envía</a>
      		<i class="pull-left icon-envelope"></i>
      		<p>Pronto se discutirá en <%= human_initiative_spam_receiver(@initiative) %>, escríbele a tus representantes</p>
      	</div>
      <% end %>
      <% if @initiative.protest_active %>
        <div id="protestButton" class="well clearfix actionBox">
      		<a href="#" class="pull-right btn btn-danger">Envía</a>
      		<i class="pull-left icon-group"></i>
      		<p>Marcha en favor de la iniciativa</p>
      	</div>
      <% end %>
    <% end %>
		<div class="well statistics">
			<h6><i class="icon-bar-chart"></i>Estadísticas de esta iniciativa</h6>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><i class="icon-pencil"></i><strong data-signs-count><%= @initiative.signs_count || 0 %></strong> firmas</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><i class="icon-money"></i><strong><%= @initiative.donations_count || 0 %></strong> donaciones</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><i class="icon-eye-open"></i><strong>2000</strong> visitas</div>
			</div>
		</div>
    <% if permitted_to? :manage, :initiatives %>
      <div class="textBox">
        <%= link_to "Ver lista de Firmantes", ong_initiative_signs_path(ong, @initiative), class: "btn btn-info btn-lg btn-block" %>
  		</div>
    <% else %>
  		<% if @initiative.signs_active %>
        <div id="signInitiative" class="well">
          <%= render "signs/form", sign: Sign.new %>
        </div>
  		<% end %>
    <% end %>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="well">
      <h6><i class="icon-bullhorn"></i> Ayúdanos a difundur</h6>
			<strong class="hashtag lead">#<%= @initiative.hashtag %></strong>
      <%= link_to facebook_url(@initiative), target: "_blank", data: { "facebook-sharer" => true }, class: "btn btn-primary btn-block" do %>
        <i class="icon-facebook-sign"></i>Comparte en Facebook
      <% end %>
      <%= link_to tweet_url(@initiative), target: "_blank", data: { "twitter-sharer" => true }, class: "btn btn-info btn-block" do %>
        <i class="icon-twitter-sign"></i>Tuitea esta iniciativa
      <% end %>
		</div>
		<div class="textBox">
			<h6><i class="icon-external-link-sign"></i>Otras iniciativas</h6>
			<div class="list-group">
        <% @initiatives.each do |i| %>
          <%= link_to i.title, ong_initiative_path(ong, i), class: "list-group-item" %>
        <% end %>
			</div>
		</div>
	</div>

</div>