<%= simple_form_for([ong,@paypal_app],:url => ong_paypal_app_path(ong,@paypal_app, :initiative_id => @initiative.id), wrapper: :paypal,html: { class: 'form-horizontal ppf', multipart: true}, remote: true) do |f| %>

  <div class="form-inputs">
    <%= f.error_notification%>
    <%= f.input :active, label: "¿Activa?", as: :boolean%>
    <%#= f.input :mode, priority: [ "sandbox" ], collection: [ ["sandbox", 0],["live",1 ]]%>
<!--     <h6>REST API</h6>
    <hr> -->
    <%#= f.input :client_id , label: 'Client id'%>
    <%#= f.input :client_secret, label: 'Client secret' %>
    <h6>Firma API</h6>   
    <hr>
    <%#= f.input :app_id , label: 'App id'%>
    <%= f.input :username , label: "Nombre de usuario" %>
    <%= f.input :password , as: :string, label: "Contraseña"%>
    <%= f.input :signature , label: "Firma"%>
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
<% end %>
