<p id="notice"><%= notice %></p>
<p>
  <strong>Active:</strong>
  <%= @paypal_app.active %>
</p>
<p>
  <strong>Mode:</strong>
  <%= @paypal_app.mode %>  
</p>

<h2>REST API</h2>
<p>
  <strong>Client id:</strong>
  <%= @paypal_app.client_id %>
</p>

<p>
  <strong>Client secret:</strong>
  <%= @paypal_app.client_secret %>
</p>
<h2>Classic API</h2>
<p>
  <strong>Username:</strong>
  <%= @paypal_app.username %>
</p>

<p>
  <strong>App id:</strong>
  <%= @paypal_app.app_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @paypal_app.password %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @paypal_app.signature %>
</p>

<%= link_to 'Edit', edit_ong_paypal_app_path(ong,@paypal_app) %> |
<%= link_to 'Back', ong_paypal_apps_path %>
