<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @paypal_app.client_id %>
</p>

<p>
  <strong>Client secret:</strong>
  <%= @paypal_app.client_secret %>
</p>

<p>
  <strong>Username:</strong>
  <%= @paypal_app.username %>
</p>

<p>
  <strong>App:</strong>
  <%= @paypal_app.app_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @paypal_app.password %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @paypal_app.signature %>
</p>

<%= link_to 'Edit', edit_paypal_app_path(@paypal_app) %> |
<%= link_to 'Back', paypal_apps_path %>
