<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="wedoo">
  <title>Educación 2020</title>
	<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
		<![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="container">
		
		<!-- NavBar -->
		<div class="navbar navbar-inverse">
			<div class="container">
        <ul class="nav navbar-nav pull-left">
          <li>
            <% unless user_signed_in? %>
              <%= link_to "Ingresa", new_user_session_path %>
            <% else %>
              <%= link_to "Salir", destroy_user_session_path, method: :delete %>
            <% end %>
          </li>
        </ul>
				<ul class="nav navbar-nav pull-right">
					<% unless ong.webpage.blank? %>
						<li>
							<%= link_to ong.webpage do %>
								<i class="icon-globe"></i>Web
							<% end %>
						</li>
					<% end %>
					<% unless ong.email.blank? %>
						<li>
							<%= link_to "mailto:#{ong.email}" do %>
								<i class="icon-envelope"></i><span class="hidden-xs">Contacto</span>
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		
		<!-- Header -->
		<header id="header">
			<div class="container">
				<!-- Logo -->
				<div id="logo"><%= link_to image_tag("ed2020.png", alt: "Logo"), root_path %></div>
				<!-- Site Menu -->
				<nav id="siteMenu" class="navbar">
					<div class="pull-right">

						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse"><i class="icon-collapse"></i></button>

						<div id="siteMenuCollapse" class="navbar-collapse collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav">
								<li><%= link_to "Iniciativas", ong_initiatives_path(ong) %></li>
								<li><a href="javascript:void(0)">Leyes</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</div>

				</nav>
			</div>
		</header>

		<% unless flash.empty? %>
	    <div class="alerts">
	      <% flash.each do |name, msg| %>
          <% next unless name == 'dismissable' %>
	        <div class="alert <%= alert_classes name %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= msg %>
          </div>
	      <% end %>
	    </div>
	  <% end %>


		<!-- Main -->
		<section id="main">
			<div class="container clearfix">			
				<%= yield %>
			</div>
		</section>

	</div>
	<!--! end of #container -->

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>powered by <strong>wedoo</strong></p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
